.bodi{
    height:auto;
    width:100vw;
    background-color: transparent;
    background: linear-gradient(darkblue, black);
    position: relative;
    z-index: 0;
    gap:0;
}

.box{
    height:200px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid;
}