.bodi{
    height:auto;
    width:100vw;
    background-color: transparent;
    position: relative;
    z-index: 1;
    gap:0;
}

.box{
    height:200px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}