.gridbodi{
    width:100vw;
    padding-top: 10px;
    color:black;
    position: relative;
}
.ok{
    border:1px dashed black;
}
.imgGrid{
    height:200px;
    overflow-y: hidden;
    width:100%;
}

.gridItem{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bodii{
    padding: 10px;;
}
